# === Virtual environments ===
venv-backend/
venv-frontend/

# === Python cache ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# === Bytecode and coverage ===
.coverage
.pytest_cache/
.mypy_cache/
*.egg-info/
.eggs/

# === Logs, temp & env ===
logs/
*.log
.env
*.db

# === Reports and artifacts ===
reports/
datasets/
metadatas/
profiles/
files/

# === Frontend cache (if using Streamlit or others) ===
frontend/.streamlit/
frontend/.cache/

# === Editor & system files ===
.vscode/
.idea/
.DS_Store
Thumbs.db
