app/*/__pycache__/
app/api/*/__pycache__/
app/__pycache__/
tests/*/__pycache__/
tests/__pycache__/

reports/
datasets/
profiles/
metadatas/
files/
logs/
.pytest_cache/
.venv/
venv/
.mypy_cache/
.coverage

.env
*.pyc
